.page {
  width: 100%;
  display: flex;
  justify-content: center;
} 

h1 {
  font-size: 2.5em;
  text-align: center;
}

.shop-item {
  background-color: papayawhip  ;
  font-size: 2em;
  padding: 0.5em;
  width: 300px;
  margin-bottom: 10px;
  border-radius: 10px;
}